PORT=3000
SCRAPE_DELAY_MS=400
MAX_CONCURRENT_SCRAPERS=3
REQUEST_TIMEOUT_MS=15000
CACHE_TTL_MINUTES=60
MAX_PAGES_PER_SOURCE=4
MAX_LISTINGS_PER_SOURCE=120
MAX_PAGES_BROAD=6
YEAR_WINDOW=3
MIN_COMPARABLES=8
MIN_EFFECTIVE_WEIGHT=5
MIN_EXACT_FOR_FAST_PATH=8
DOLLAR_STRATEGY=OFICIAL
FRONTEND_ORIGIN=http://localhost:5173
